<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7sbqKviQY-BkM7Ts4vaT7a9z1Iqpmi38</string>
	<key>GCM_SENDER_ID</key>
	<string>5072320000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nora.nofap</string>
	<key>PROJECT_ID</key>
	<string>nafs-6fa18</string>
	<key>STORAGE_BUCKET</key>
	<string>nafs-6fa18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5072320000:ios:061e98ff0df532e5a0cae5</string>
</dict>
</plist>