<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.nora.bedrock.refresh</string>
		<string>io.nora.nofap.backgroundTask</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Nafs</string>
				<string>fb1248287269746413</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.Branch.Branchesters</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchsters</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3041412379348783</string>
	<key>FacebookClientToken</key>
	<string>6a03ee2f6011993dc6c80a988e844659</string>
	<key>FacebookDisplayName</key>
	<string>Nafs</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>OverusedGrotesk-Black.ttf</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>OverusedGrotesk-Light.ttf</string>
		<string>OverusedGrotesk-SemiBold.ttf</string>
		<string>OverusedGrotesk-Bold.ttf</string>
		<string>OverusedGrotesk-Medium.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Search for an item</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>SearchAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeShare</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Share an item</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Share</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ShareAction</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>branch_enable_logging</key>
	<true/>
	<key>branch_key_live</key>
	<string>key_live_ouc6mN5e8TcfSFOAkaS5TpcluweLBTZk</string>
	<key>branch_key_test</key>
	<string>key_test_gAp8fM2h8MahVwIymcJ2xkjavEnVvTI8</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>5ufde-alternate.test-app.link</string>
		<string>5ufde.app.link</string>
		<string>5ufde.test-app.link</string>
		<string>5ufde-alternate.app.link</string>
	</array>
	<key>com.apple.developer.device-activity.allow</key>
	<true/>
	<key>com.apple.developer.family-controls</key>
	<true/>
</dict>
</plist>
